body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F0F0F0;
}

a {
  color: #00B7FF;
}

.main {
  min-width: 300px;
  max-width: 650px;
}

.name {
  float: left;
  width: 75%;
  min-width: 100px;
  max-width: 500px;
}

.name input {
  width: 95%;
}

.delete {
  float: right;
  width: 25%;
  min-width: 50px;
  max-width: 100px;
}

.clear {
  clear: both;
}
