extends ../layout

block content
  .menu
    h2 Menu
    ul.nav.nav-pills
      li
        a(href="/") Home
      li
        a(href="/tasks") Todo List
      li.active
        a(href="/tasks/completed") Completed

  h1 #{title} / Tasks / Completed

  p Look at all of your succeeds!

  ul
    each task in tasks
      li task
